<!DOCTYPE html>
<html>
  <head>
    <title>Median Group</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif"
    rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo-wrapper">
        <a href="/">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" class="logo" alt="Median Group logo"/>
        </a>
      </div>
      <div class="headline">
        <div class="title">Median Group</div>
        <div class="subtitle">Listening not to me, but to reason, the wise agree that the totality of things is one. - Heraclitus
        </div>
      </div>
    </div>
      <div class="below-header">
        <div class="navigation">
          <div class="links-div">
            <ul class="links">
      {% for pg in pages[:-1] %}
            <li class="nav-item"><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
            <li class="nav-separator"></li>
      {% endfor %}
            <li class="nav-item"><a href="{{ SITEURL }}/{{ pages[-1].url }}">{{ pages[-1].title }}</a></li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="content">
          {% block content %}
          {% endblock %}
          </div>
          <div class="footer">
            <div>
              &copy; 2018 Median Group
            </div>
            <div class="ornament-div">
              <img class="ornament" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ornament1black.svg" />
            </div>
            <div>
              <a href="mailto:info@median.org">info@mediangroup.org</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

